# Port the server listens on
PORT=4000

# Optional: only required if you enabled "Enhanced Security for Push Notifications"
# in your Expo account (https://expo.dev/accounts/[account]/settings/access-tokens).
# Leave blank to get started.
EXPO_ACCESS_TOKEN=
